dist/
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.js
*.js.map
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
package-lock.json

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
.stencil

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
